.image {
  border: 1px solid #000;
  cursor: pointer;
  float: left;
}

.thumb {
  max-width: 420px;
  max-height: 420px;
}

.figure {
  display: inline-block;
}
.caption {
  clear: both;
}

.drag_drop_area { 
  border: 10px dashed #ccc;
}
.drag_drop {
  border: 10px dashed #0c0; 
}

.clear_both { 
  clear: both;
}