.image {
  border: 1px solid #000;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.thumb {
  max-width: 400px;
  max-height: 400px;
}

.drag_drop_area { 
  border: 10px dashed #ccc;
}
.drag_drop {
  border: 10px dashed #0c0; 
}

.clear_both { 
  clear: both 
}