#histogram, #myImg {
  border: 1px solid #000;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#myImg.thumb {
  max-width: 420px;
  max-height: 400px;
}

#histogram.thumb {
  max-width: 420px;
  max-height: 400px;
}

#histTypeP { clear: both }