
.pointOperatorHorizontalblock {
    width:100%;
    display: block;
    position:relative;
}



.pointOperatorSelectionBlock {
    display: inline-block;
    width:50%;
}


.pointOperatorDescription {
    display: inline-block;
    width:50%;
    position: absolute;
    left: 50%;
}

.pointOperatorSettingsFieldSet {
    /*display: none;*/
    border: 1px dashed #333;
    padding: 3px;
    width: 92%;
}

.pointOperatorResult {
    width:100%;
    display: block;
    position:relative;
}

.pointOperatorSource {
    display: inline-block;
    width:45%;
}

.pointOperatorTarget {
    display: inline-block;
    width:45%;
    position: relative;
}

.pointOperatorArrow {
    display: inline-block;
    width:8%;
	text-align:center;
	font: 6em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: relative;
	/*vertical-align: middle;*/
}

.pointOperatorThumb {
    max-width: 420px;
    max-height: 300px;
}
